<template name="addActivity">
  <div class='container'>
      <h3>Add Activity</h3>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title grey-text text-darken-4'>New Activity</span>
        <form class="new-activity">
          <input type="text" name="name" placeholder="Name this Activity" />
          <div id='map' class='map'></div><br>

          <input class='btn' type="submit" value="Submit">

        </form>
      </div>
    </div>
      </div>

</template>
